gunicorn
psycopg2
python-dotenv
mysql-connector-python

Pillow
requests


Celery==5.2
django-celery-results
flower

Django~=3.2.5
djangorestframework~=3.12.4

django-smart-selects
django-grappelli
django-import-export
django-crispy-forms

django-extensions
pydotplus

lxml
numpy
jsons
pandas
tablib[pandas]
urllib3
pandas_read_xml

rsa
cryptography
python-dotenv
django-smart-selects

GraphViz
#pygraphviz
#pyparsing
pydot

pysftp
pyopenssl
unicode
unidecode
langdetect